*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    background-color: rgba(177, 177, 177, 0.98);
}

body, html {
    min-height: 100vh;
}